<wir-vs-virus-header></wir-vs-virus-header>

<main>
  <h1 class="title">Hilfe ist unterwegs! 💪</h1>

  <p class="description">
    Ihre Anzeige wurde aufgenommen. Helfer können Sie nun finden und werden sich
    über die von Ihnen angegebenen Kontaktmöglichkeiten melden.
  </p>

  <wir-vs-virus-info-box>
    Um Ihre Anzeige zu löschen, verwenden Sie bitte den Link, den wir an Ihre
    Email gesendet haben.
  </wir-vs-virus-info-box>

  <button mat-raised-button color="primary" routerLink="/home/institutions">
    Helferliste durchsuchen
  </button>
</main>
