@import 'variables';

main {
  width: 456px;
  margin: 0 auto;

  @media (max-width: 530px) {
    width: 100%;
    padding: 0 2rem;
  }
}

a.back-navigation {
  line-height: 24px;
  padding-left: 7px;
  text-transform: uppercase;
  color: #448AFF;

  img {
    float: left;
  }
}

h1.title {
  color: #1f1f1f;
  padding-top: 1rem;
  font-size: 34px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 44px;

  @media(max-width: $breakpoint-md) {
    font-size: 25px;
    line-height: 34px;
  }
}

h1.section-title {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0.1px;
  line-height: 26px;
  margin: 0;
  padding: 1rem 0;
  color: #757575;

  @media(max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 21px;
  }
}

p.description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-family: Roboto;
  line-height: 26px;
}

mat-form-field {
  width: 100%;
}

.submit-button {
  margin-top: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
