<wir-vs-virus-header></wir-vs-virus-header>

<main>
  <a class="back-navigation" [routerLink]="'/home/volunteers'">
    <img src="/assets/chevron_left-24px.svg" />Zurück
  </a>

  <h1 class="title">Suchen Sie Hilfe für Ihre Einrichtung</h1>

  <p class="description">
    Um eine Anzeige online zu stellen, füllen Sie bitte folgende Felder aus.
    Beschreiben Sie für Helfer möglichst genau, bei welchen Tätigkeiten Sie
    Unterstützung suchen.
  </p>

  <form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">
    <h1 class="section-title">Angaben zur Einrichtung und Ihrem Bedarf</h1>

    <mat-form-field appearance="fill">
      <mat-label>Name der Einrichtung</mat-label>
      <input
        matInput
        placeholder="Name der Einrichtung"
        formControlName="institutionName"
        required
      />
      <mat-error *ngIf="institutionForm.get('institutionName').errors"
        >Name der Einrichtung ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Postleitzahl</mat-label>
      <input matInput placeholder="12345" formControlName="zipCode" required />
      <mat-error
        *ngIf="
          institutionForm.get('zipCode').errors &&
          !institutionForm.get('zipCode').hasError('notExists')
        "
      >
        PLZ ist erforderlich
      </mat-error>
      <mat-error *ngIf="institutionForm.get('zipCode').hasError('notExists')">
        PLZ existiert nicht
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ein paar Worte dazu, wonach Sie genau suchen.</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Ich suche ..."
        maxlength="300"
      ></textarea>
      <mat-hint align="end">
        {{ institutionForm.get('description').value?.length || 0 }}/300
      </mat-hint>
      <mat-error *ngIf="institutionForm.get('description').errors"
        >Angabe der Beschreibung ist erforderlich</mat-error
      >
    </mat-form-field>

    <h1 class="section-title">Angaben zur Kontaktperson</h1>

    <mat-form-field appearance="fill">
      <mat-label>Vor- & Nachname</mat-label>
      <input
        matInput
        type="string"
        placeholder="Peter Müller"
        formControlName="contactName"
        required
      />
      <mat-error *ngIf="institutionForm.get('contactName').errors"
        >Vor- & Nachname ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input
        matInput
        type="tel"
        placeholder="0721 8472371"
        formControlName="contactPhone"
        required
      />
      <mat-error *ngIf="institutionForm.get('contactPhone').errors"
        >Telefonnummer ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        placeholder="maxim.muster@example.com"
        formControlName="contactMail"
        required
      />
      <mat-error *ngIf="institutionForm.get('contactMail').errors"
        >E-Mail Adresse ist erforderlich</mat-error
      >
    </mat-form-field>
    <wir-vs-virus-info-box>
      Ihre Anzeige ist für 30 Tage gültig und wird aus Datenschutzgründen
      anschließend automatisch entfernt
    </wir-vs-virus-info-box>

    <mat-checkbox color="primary" formControlName="agreePrivacy"
      >Mit Betätigung des "Anfrage Online stellen" Knopfes erkläre ich meine
      Einwilligung in die Verarbeitung meiner Daten gemäß der
      datenschutzrechtlichen Einwilligungserklärung. Ich erkläre mich
      einverstanden, per E-Mail kontaktiert zu werden. Mit der Kontaktaufnahme
      nehme ich die Datenschutzerklärung zur Kenntnis.<mat-error
        *ngIf="showPrivacyError"
        >Sie müssen der Datenschutzerklärung zustimmen</mat-error
      ></mat-checkbox
    >

    <re-captcha resolved="" formControlName="recaptcha" #captchaRef="reCaptcha">
    </re-captcha>
    <mat-error
      *ngIf="
        institutionForm.get('recaptcha').errors &&
        institutionForm.get('recaptcha').touched
      "
      >Bitte bestätigen Sie, dass Sie kein Roboter sind</mat-error
    >

    <button
    class="submit-button"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="sendingRequest"
  >
    <mat-icon *ngIf="sendingRequest"><mat-spinner diameter="20" color="primary"> </mat-spinner></mat-icon>
    Anfrage online stellen
  </button>
  </form>
</main>
