@import 'variables';

.info-box {
  width: 100%;
  display: flex;
  border-radius: 16px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  align-items: center;
  padding: 1rem 1.5rem;
  margin: 2rem 0;

  &.success {
    background-color: $success;
    border: 0;

    mat-icon {
      color: #1b5f20;
    }
  }

  mat-icon {
    margin-right: 16px;
    color: $primary;
    &.error {
      color: $accent;
    }
  }

  span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: $gray-800;
  }
}

a {
  color: $primary;
}
