@import 'variables';

main {
  width: 456px;
  margin: 0 auto;

  @media (max-width: 530px) {
    width: 100%;
    padding: 0 2rem;
  }
}

a.back-navigation {
  line-height: 24px;
  padding-left: 7px;
  text-transform: uppercase;
  color: #448aff;

  img {
    float: left;
  }
}

h1.title {
  color: #1f1f1f;
  padding-top: 1rem;
  font-size: 34px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 44px;

  @media (max-width: $breakpoint-md) {
    font-size: 25px;
    line-height: 34px;
  }
}

p.description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-family: Roboto;
  line-height: 26px;

  @media (max-width: $breakpoint-xs) {
    font-size: 14px;
    line-height: 21px;
  }
}

mat-form-field {
  width: 100%;

  &:first-child {
    margin-top: 1.5rem;
  }
}

input[type='submit'] {
  background-color: #448aff;
  color: white;
  line-height: 16px;
  border: 0;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 1.25px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  margin-top: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

re-captcha {
  margin: 2*$basic-spacer 0;
  display: block;
}
