<wir-vs-virus-header></wir-vs-virus-header>

<main>
  <a class="back-navigation" [routerLink]="'/home/volunteers'">
    <img src="/assets/chevron_left-24px.svg" />Zurück
  </a>

  <h1 class="title">Als Helfer registrieren</h1>

  <p class="description">
    Um eine Anzeige online zu stellen, füllen Sie bitte folgende Felder aus.
  </p>

  <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Maxim Muster"
        formControlName="name"
        required
      />
      <mat-error *ngIf="volunteerForm.get('name').errors"
        >Vor- & Nachname ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Postleitzahl</mat-label>
      <input matInput placeholder="12345" formControlName="zipCode" required />
      <mat-error
        *ngIf="
          volunteerForm.get('zipCode').errors &&
          !volunteerForm.get('zipCode').hasError('notExists')
        "
      >
        PLZ ist erforderlich
      </mat-error>
      <mat-error *ngIf="volunteerForm.get('zipCode').hasError('notExists')">
        PLZ existiert nicht
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ein paar Worte zu Ihren medizinischen Kenntnissen</mat-label>
      <textarea
        matInput
        formControlName="knowledge"
        placeholder="Ich bin gelernte..."
        maxlength="300"
      ></textarea>
      <mat-hint align="end">
        {{ volunteerForm.get('knowledge').value?.length || 0 }}/300
      </mat-hint>
      <mat-error *ngIf="volunteerForm.get('knowledge').errors"
        >Angabe der Kenntnisse ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefonnummer</mat-label>
      <input
        matInput
        type="tel"
        placeholder="0176 1234567"
        formControlName="phone"
        required
      />
      <mat-error *ngIf="volunteerForm.get('phone').errors">
        Telefonnummer ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        placeholder="maxim.muster@example.com"
        formControlName="mail"
        required
      />
      <mat-error *ngIf="volunteerForm.get('mail').errors"
        >E-Mail Adresse ist erforderlich</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ihre Qualifikationen</mat-label>
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let qualification of qualifications"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(qualification)"
        >
          {{ qualification }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Allgemeinmedizin"
          #qualificationInput
          formControlName="qualifications"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event)"
      >
        <mat-option
          *ngFor="let qualification of filteredQualifications | async"
          [value]="qualification"
        >
          {{ qualification }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- <mat-error *ngIf="volunteerForm.get('qualifications').errors"
      >Angabe von Qualifikationen erforderlich
    </mat-error> -->

    <div class="alert">
      <img src="/assets/info-24px.svg" />
      <div>
        Ihre Anzeige ist für 30 Tage gültig und wird aus Datenschutzgründen
        anschließend automatisch entfernt
      </div>
    </div>

    <button
      class="submit-button"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Hilfsangebot online stellen
    </button>
  </form>
</main>
