<wir-vs-virus-header></wir-vs-virus-header>

<div class="center">
  <a class="back-navigation" [routerLink]="'..'">
    <img src="/assets/chevron_left-24px.svg">Zurück
  </a>

  <h1 class="title">Als Helfer registrieren</h1>

  <p class="description">
    Being the savage's bowsman, that is, the person who pulled the bow-oar in his boat (the second one from forward), it
    was my cheerful duty to attend upon him while taking that hand-scrabble scramble.
  </p>

  <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Vor- & Nachname" formControlName="name">
    <input type="text" placeholder="Postleitzahl Wohnort" formControlName="zipCode">
    <textarea placeholder="Ein paar Worte zu Ihren medizinischen Kenntnissen" formControlName="knowledge"></textarea>
    <input type="text" placeholder="Telefonnummer" formControlName="phone">
    <input type="text" placeholder="E-Mail" formControlName="mail">
    <div class="disclaimer">
      <img src="/assets/info-24px.svg">
      <div>Ihre Anzeige ist für 30 Tage gültig und wird aus Datenschutzgründen anschließend automatisch entfernt</div>
    </div>
    <input type="submit" value="Hilfsangebot online stellen">
  </form>
</div>
