<div class="header">
  <div class="content-center">
    <div class="nav-bar">
      <img class="app-logo" src="/assets/logo-light.svg" routerLink="/" />
      <div class="links">
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy">Datenschutz</a>
      </div>
    </div>
    <div class="hero-content">
      <div class="title">
        Medizinische Experten für die Corona-Krise.<br />
        Ihre Fähigkeiten machen den Unterschied.
      </div>
      <div class="sub-title">
        Der Coronavirus stellt die Menscheit vor eine Mammutaufgabe. Speziell im
        medizinischen Sektor mangelt es an fachkundigem Personal. Ihre
        Solidarität und Ihr Engagement sorgen für Entlastung und retten Leben.
      </div>
    </div>
    <div class="search-help-toggle">
      <a
        routerLinkActive="bg-blue"
        matRipple
        routerLink="institutions"
        queryParamsHandling="merge"
      >
        Einrichtungen, die Hilfe suchen
      </a>
      <a
        routerLinkActive="bg-red"
        matRipple
        routerLink="volunteers"
        queryParamsHandling="merge"
      >
        Engagierte, die helfen wollen
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="content-area">
    <div class="actions">
      <h3>Hilfe anbieten oder suchen</h3>
      <a
        class="action-card bg-blue"
        routerLink="/register-institution"
        matRipple
      >
        <img src="assets/medical_staff.svg" />
        <div class="text">Ich suche nach medizinischen Aushilfen</div>
        <img class="arrow" src="assets/chevron_right-24px.svg" />
      </a>
      <a class="action-card bg-red" routerLink="/register-volunteer" matRipple>
        <img src="assets/health.svg" />
        <div class="text">Ich biete meine medizinische Expertise an</div>
        <img class="arrow" src="assets/chevron_right-24px.svg" />
      </a>

      <a class="color-red" (click)="openQualificationsDialog()"
        >Welche Fähigkeiten werden benötigt?</a
      >
    </div>

    <div class="search-help-toggle-mobile">
      <a
        routerLinkActive="bg-blue"
        matRipple
        routerLink="institutions"
        queryParamsHandling="merge"
      >
        Einrichtungen,<br />die Hilfe suchen
      </a>
      <a
        routerLinkActive="bg-red"
        matRipple
        routerLink="volunteers"
        queryParamsHandling="merge"
      >
        Engagierte,<br />die helfen wollen
      </a>
    </div>

    <div class="card-list">
      <form [formGroup]="searchForm" (keydown.enter)="onChangeSearch()">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Suche</mat-label>
          <input matInput formControlName="term" />
          <button
            mat-button
            *ngIf="searchForm.get('term').value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.searchForm.get('term').reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>PLZ</mat-label>
          <input type="number" matInput formControlName="plz" />
          <button
            mat-button
            *ngIf="searchForm.get('plz').value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="this.searchForm.get('plz').reset()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Radius</mat-label>
          <mat-select
            formControlName="radius"
            (selectionChange)="onChangeSearch()"
          >
            <mat-option value="5">5 km</mat-option>
            <mat-option value="10">10 km</mat-option>
            <mat-option value="25">25 km</mat-option>
            <mat-option value="50">50 km</mat-option>
            <mat-option value="100">100 km</mat-option>
            <mat-option value="200">200 km</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
