<mat-card class="example-card">
  <div class="card-header">
    <div class="title-container">
      <div class="title">{{ data.name }}</div>
      <div class="zipcode">
        <div title="{{ data.city }}" class="city">{{ data.city }}</div>
        <div class="zip">{{ data.zipcode }}</div>
      </div>
      <div class="date">
        {{ data.registeredAt | date: 'dd.MM.yy' }}
      </div>
    </div>
  </div>
  <mat-card-content>
    <div class="description">
      {{ data.description }}
    </div>
    <div class="details">
      <div class="label">
        Medizinische Ausbildung
      </div>
      <div class="detail-content">
        <mat-chip-list [selectable]="'false'">
          <mat-chip
            chipListSelectable="'false'"
            [selectable]="'false'"
            disableRipple
            *ngFor="let qualification of data.qualification"
          >
            {{ qualification }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <mat-expansion-panel class="mat-elevation-z0" collapsedHeight="*" expandedHeight="*">
      <mat-expansion-panel-header>
        <mat-icon fontSet="material-icons-outlined">mail</mat-icon>
        <span>Kontakt aufnehmen</span>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Was möchten Sie dem Helfer mitteilen</mat-label>
        <textarea
          matInput
          placeholder="Was möchten Sie dem Helfer mitteilen"
          maxlength="300"
        ></textarea>
      </mat-form-field>
      <button
        class="send-mail-button"
        type="submit"
        mat-raised-button
        color="primary"
      >
        E-Mail senden
      </button>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
