@import 'variables';

mat-card {
  margin-bottom: 20px;
  border-radius: 8px;

  .card-header {
    display: flex;
    flex-direction: column;

    .title-container {
      display: flex;
      // justify-content: space-between;
      // flex-flow: row wrap;
      align-items: stretch;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.1px;
      // font-weight: 500;

      .title {
        width: 50%;
        padding-right: 2 * $basic-spacer;
      }

      .zipcode {
        width: 35%;
        padding-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        .city {
          // text-overflow: ellipsis;
          overflow: hidden;
          position: relative;
        }

        .zip {
          font-size: 12px;
          letter-spacing: 0.4px;
          color: $text-subdude;
        }
      }

      .date {
        width: 15%;
        text-align: right;
        min-width: 70px;
      }
    }
  }

  mat-card-content {
    letter-spacing: 0.25px;

    .description,
    .detail-content {
      color: $text-subdude;
    }

    .description {
      margin: 8px 0 16px;
    }

    .details {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      @media (max-width: $breakpoint-xs) {
        flex-direction: column;
      }

      > div {
        width: 50%;

        @media (max-width: $breakpoint-xs) {
          width: 100%;
        }

        .detail-content {
          margin: 8px 8px 8px 0;
          mat-chip {
            transition: none !important;
            white-space: nowrap;
            overflow: hidden;
          }
          // disable hover effect on chip
          .mat-standard-chip {
            &:hover::after,
            &:active::after,
            &:focus::after {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

mat-expansion-panel {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 15px;

  mat-expansion-panel-header {
    padding: 0rem 1rem 0 0;
    font-size: 16px;

    mat-icon.mat-icon {
      color: $primary;
      margin-right: 1rem;
      line-height: 19px;
    }
  }
}

mat-form-field.mat-form-field {
  width: 100%;
  left: 0;
}

.send-mail-button {
  text-transform: uppercase;
}
