<wir-vs-virus-header></wir-vs-virus-header>

<div class="container">
  <div class="content-area">
    <h1>Häufig gestellte Fragen</h1>

    <mat-accordion displayMode="default">
      <mat-expansion-panel *ngFor="let faq of faqs">
        <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
          <mat-panel-title>
            {{ faq.question }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{ faq.answer }}</p>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="info-box">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      <span>Weitere Fragen? Schreiben Sie uns eine Email an <a href="mailto:info@helden-in-weiss.de">info@helden-in-weiss.de</a></span>
    </div>
  </div>
</div>
