$text-subdude: rgba(0, 0, 0, 0.54);
$text-light: #fff;

$shadow-1: 0px 1px 2px 0px #bfbfbf;

$breakpoint-xs: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1140px;

$grid-col-width: 80px;

$border-radius: 8px;
$basic-spacer: 8px;

$primary: #42a5f5;
$accent: #ef5350;
$warn: #f4511e;
$success: #e8f5e9;
